<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>React App</title>
  </head>
  <body>
    <div class="container p-4">
      <h1>League of Legends Cast Tool
        <small class="text-muted">For the forgetful ones</small>
      </h1>
    </div>
    <div class="container">
        <div class="col">
            <form action="/create" method="post">
                <h3>Select ten champions:</h3>
                <label for="cname0"></label><br>
                <input type="text" id="cname0" name="cname0">
                <label for="cname1"></label><br>
                <input type="text" id="cname1" name="cname1">
                <label for="cname2"></label><br>
                <input type="text" id="cname2" name="cname2">
                <label for="cname3"></label><br>
                <input type="text" id="cname3" name="cname3">
                <label for="cname4"></label><br>
                <input type="text" id="cname4" name="cname4">
                <label for="cname5"></label><br>
                <input type="text" id="cname5" name="cname5">
                <label for="cname6"></label><br>
                <input type="text" id="cname6" name="cname6">
                <label for="cname7"></label><br>
                <input type="text" id="cname7" name="cname7">
                <label for="cname8"></label><br>
                <input type="text" id="cname8" name="cname8">
                <label for="cname9"></label><br>
                <input type="text" id="cname9" name="cname9"><br>
                <input type="submit" value="Submit"><br>
            </form>
        </div>
    </div>
    
    
    
    
    
    <div id="root"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
  </body>
</html>
